body {
  background-color: #161719;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5em;
  color: #9fa2a7;
  width: 400px;
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */ }
  body .wrapper {
    width: 400px;
    height: 450px;
    max-height: 80%;
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0; }
    body .wrapper .speechbubbleleft {
      background-color: #26272b;
      color: #9fa2a7;
      cursor: default;
      border-left: 5px solid;
      position: relative;
      left: 0;
      border-width: 0 0 0 5px;
      border-style: solid;
      border-color: #b388dd;
      display: block;
      width: 95%;
      text-align: left; }
    body .wrapper .speechbubbleright {
      background-color: #26272b;
      color: #9fa2a7;
      cursor: default;
      border-right: 5px solid;
      position: relative;
      right: 0;
      border-width: 0 5px 0 0;
      border-style: solid;
      border-color: #ff8750;
      display: block;
      width: 95%;
      text-align: right; }
  body .chatInput {
    background-color: #9fa2a7;
    font-family: 'Roboto', sans-serif;
    font-size: 0.8em;
    color: #26272b;
    border-color: #56b273;
    border-width: 1px;
    border-style: solid;
    bottom: 50px;
    position: fixed; }
  body .endChat {
    background-color: #161719;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 0.8em;
    color: #01AD9B;
    border-color: #161719;
    border-width: 1px;
    border-style: solid;
    width: 400px;
    bottom: 1px;
    position: fixed; }
  body ::-webkit-scrollbar {
    width: 5px; }
  body ::-webkit-scrollbar-track {
    background: #26272b; }
  body ::-webkit-scrollbar-thumb {
    background: #9fa2a7; }
  body ::-webkit-scrollbar-thumb:hover {
    background: #01AD9B; }
